html,
body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #f1f1f1;
  color: 11ee1e;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.bg-gray-100 {
  background-color: rgb(243 244 246);
}

.text-gray-800 {
  color: rgb(31 41 55);
}

.star-rater .star {
  font-size: 1rem;
  color: gray;
}
